@charset "UTF-8";
@font-face {
    font-family: Inter;
    src: url(../font/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
* {
    margin: 0px;
    padding: 0px;
    font-family: Inter;
}

body {
    height: 80vh;
    display: flex;
    background-color: #0C141A;
}

/*Esquerda-----------------------------*/ 
.esquerda { 
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
}

header {
    font-size: 25px;
    color: white;
}

.perfil {
    display: flex;
    align-items: center;
}

.apresentacao {
    margin-left: 40px;
}

.primeiro {
    font-size: 40px;
    padding-bottom: 10px;
}

.segundo {
    font-weight: 800;
    font-size: 35px;
    color: #71C0F5;
}


.perfil img {
    border: 2px solid #71C0F5;
    width: 15%;
    border-radius: 50%;
    margin-left: 50px;
}

.experiencia {
    padding: 30px 30px 20px 70px;
}

.experiencia h2 {
    font-weight: 200;
    font-size: 30px;
    padding-bottom: 10px;
}

.experiencia p {
    font-size: 18px;
    line-height: 30px;
}

.experiencia button {
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin: 20px 20px 0px 0px;
}

.competencias h2 {
    padding-left: 70px;
    font-weight: 200;
    font-size: 30px;
}


/*Direita------------------------------*/

.direita {
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
}

.contactos .social a img    {
    color: white;
}