@charset "UTF-8";
@font-face {
    font-family: Inter;
    src: url(../font/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Rethink;
    src: url(../font/Rethink_Sans/RethinkSans-VariableFont_wght.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Rethink;
    color: white;
}


body {
    background-color: #0C141A;
    overflow-x: none;
}


:root {
    --cor01:#60A4D1;
    --cor02:#4D84A8;
    --cor03:#71C0F5;
    --cor04:#3B647F;
    --cor05:#284457;
    --cor06:#ffffff;
    --cor07:#0C141A;
}

header {
    background-color: #121F29;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

}

header p {
    font-size: 30px;
    color: #8EC4E9;
}

nav a {
    margin: 8px;
    font-size: 17px;
    text-decoration: none;
}

header span {
    font-size: 35px;
    color: #8EC4E9;
}

.home {
    padding-top: 150px;
    height: 90vh;
    margin: auto;
    text-align: center;

}

.home img {
    width: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
    
}


.home p.primeiro {
    font-size: 40px;
    
}

.home p.segundo {
    padding-top: 20px;
    margin: auto;
    width: 410px;
}

.home span {
    font-size: 35px;
    color: #5A9ECC;
    gap: 30px;
}


/*Sobre------------------------*/


.sobre {
    display: grid;
    gap: 20px;
    justify-content: center;
}
.sobre h2 {
    padding-bottom: 25px;
    font-weight: 300;
    font-size: 30px;
    color: #5A9ECC;
    text-align: center;
}

.trilha {
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: auto;
    background-color: #1D3241;
    width: 60%;
    padding: 7px;
}

.trilha h3 {
    border-radius: 15px 15px 0px 0px;
    padding: 10px 20px;
    background-color: #0E1820;
}

.trilha p {
    background-color: #121F29;
    padding: 20px;
}

.trilha button {
    background-color: #0E1820;
    border-radius: 0px 0px 15px 15px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    color: white;
}

.trilha button i {
    font-size: 20px;
}







/*Portofolio------------------------*/

#portofolio {

    padding-top: 10px;
    gap: 20px;
}

#portofolio h2 {
    color: #5A9ECC;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 35px;
}

.portofolio {
    border-radius: 30px;
    margin: auto;
    width: 60%;
    padding: 8px;
    background-color: #121F29;
}

.port {
    display: flex;
    justify-content: space-between;
}

.port-img {
    border-radius: 20px;
    background-image: url(../img/Captura\ de\ ecrã\ 2024-01-19\ 171939.png);
    background-size: cover;
    width: 300px;
}

.port p {
    border-radius: 20px;
    display: grid;
    width: 300px;
    padding: 20px;
    background-color: #0E1820;

}

.port p span {
    text-align: center;
    width: 100%;
    font-size: 25px;
    padding: 10px;
}

.port p a {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    background-color: #1D3241;
}

.port p a i {
    font-size: 20px;
}





























/*Footer------------------------*/

.contacto {
    margin: auto;
    background-color: #0C141A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #60A4D1;
    padding-bottom: 240px;
}

.contacto h1 {
    color: #60A4D1;
    padding-bottom: 15px;
}



.contacto h2 {

    padding-bottom: 20px;
    font-weight: 300;
    font-size: 25px;
    color: #5a9ecc;
}





.social a i:hover {
    color: #71C0F5;
}

.send-footer {
    background-color: #0c141a;
    border: 2px solid #1D3241;
    color: #60A4D1;
    height: 30px;
    width: 500px;
    padding: 5px;
    border-radius: 8px;
    margin: 4px;
}



.send-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #1A65BB;
    font-weight: 600;
    font-size: 17px;
    width: 250px;
    cursor: pointer;
    padding: 10px;
    border-radius: 25px;
    border: none;


}


.cadastrar {
    padding: 5px;
    color: #60A4D1;
    cursor: pointer;
}


/* fim dos contactos------------------------------*/


/*rodape------------------------------------------*/

footer {
    background-color: #121F29;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer .pages menu {
    padding-top: 30px;
}

footer .pages menu h3 {
    font-weight: 300;
    font-size: 25px;
    color: #5a9ecc;
}

footer .pages menu a {
    display: flex;
    text-decoration: none;
    padding-top: 20px;
}

footer .content-number h3 {
    font-weight: 300;
    font-size: 25px;
    color: #5a9ecc;
    padding-bottom: 20px;
}

footer .content-number p {
    padding-bottom: 10px;
    font-size: 17px;
}

footer .content-number {
    padding-top: 30px;
    padding-bottom: 35px;
}

footer .social h3 {
    font-weight: 300;
    font-size: 25px;
    color: #5a9ecc;
}

footer .social {

    padding-top: 30px;
}


footer .social a i    {
    color: #5a9ecc;
    font-size: 25px;
    padding: 8px;
    border: 1px solid #5a9ecc;
    border-radius: 50%;
    margin: 5px;
}

footer  button {
    margin-top: 15px;
    background-color: #1A65BB;
    font-weight: 600;
    font-size: 17px;
    width: 250px;
    cursor: pointer;
    padding: 10px;
    border-radius: 25px;
    border: none;
}

.final {
    text-align: center;
    padding: 25px;
}

