@charset "UTF-8";


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        display: flex;
        background-color: #0C141A;
        overflow-x: hidden;
    }
    main {
        display: grid;
    }
    .fundo {
        font-size: 22px;
        padding-top: 4px;
    }
    /*Esquerda-----------------------------*/ 
    .esquerda { 
        padding-left: 0px;
        padding-top: 10px;
    }
    .perfil {
        display: grid;

    }
    .primeiro {
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 0px;
    }
    .segundo {
        font-weight: 800;
        font-size: 25px;
    }
    .apresentacao {
        padding-top: 15px;
    }
    .perfil img {
        /*border: 1px solid #71C0F5;*/
        width: 37%;
    }
    .competencias {
        width: 360px;
    }
    .competencias01 {
        padding-left: 15px;
    }
    .experiencia {
        padding: 10px 30px 20px 30px;
    }
    .skills img {
        padding-left: 10px;
        width: 23px;
        margin: 0px;
    }
    .competencias h2 {
        padding-left: 30px;
    }

    /*Direita------------------------------*/

    .direita {
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 50px;
    }
    .direita h2 {
        padding-right: 0px;
    }
    .idiomas p {
        padding-right: 0px;
    }
    .idiomas p img {
        padding-right: 0px;
    
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}