@charset "UTF-8";


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


    .nav-menu.responsive{
        top: 80px;
    }
    .nav-menu{
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 24vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu-btn{
        display: block;
    }
    .nav-menu-btn i{
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }
    .nav-menu-btn i:hover{
        background: rgba(255, 255, 255, 0.15);
    }



    nav span {
        display: none;
    }

    .contacto {
        padding-top: 700px;
        width: 100%;
        
    }
    .send-footer {
        width: 300px;
    }
        
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
