
* {
    color: #0d98fc;
}

body {
    font-family: Fredoka;
}

.header {
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #01111ebb;

}



.header h1 {
    display: flex;
    font-family: Anta;
    font-weight: 300;
    color: #0d98fc;
    text-shadow: 1px 1px 15px #0c97fac9;
}

h2 {
    font-size: 28px;
    font-family: Fredoka;
}

.header h1 i {
    font-size: 36px;
    margin-left: 5px;
    color: #7CD260;
    text-shadow: 1px 1px 15px #7CD260;
}

.container-formulario {
    padding-left: 100px;
}

.dados-pessoais h2 {
    font-weight: 300;
    margin-left: 10px;
    padding-bottom: 20px;
}
 
.dados-pessoais {
    width: 100%;
    padding-top: 130px;
    padding-bottom: 30px;
}

label {
    color: #8dd1ff;
    margin-left: 12px;
}


.coluna1 {
    gap: 30px;
    display: grid;
    grid-template-columns: 40% 40%;
}

.coluna2 {
    gap: 30px;
    display: grid;
    grid-template-columns: 40% 40%;
}


.coluna3 {
    gap: 30px;
    display: grid;
    grid-template-columns: 40% 40%;
}

.coluna4 {
    gap: 30px;
    display: grid;
    grid-template-columns: 40% 40%;
}



.dados-demograficos {

    padding-bottom: 30px;

}
.dados-demograficos h2 {
    font-weight: 300;
    margin-left: 10px;
    padding-bottom: 20px;
}




.dados-empresa {
    width: 100%;
    padding-bottom: 30px;

}
.dados-empresa h2 {
    font-weight: 300;
    margin-left: 10px;
    padding-bottom: 20px;
}




.pacote-contrato {
    width: 100%;
    padding-bottom: 30px;
}


.pacote-contrato h2 {
    font-weight: 300;
    margin-left: 10px;
    padding-bottom: 20px;
}



.port-nav {
    margin: 10px;
    text-decoration: none;
    width: 150px;
}


.botoes-form {
    display: flex;
    justify-content:space-evenly;
    padding-bottom: 100px;
}

.botoes-form input {
    background-color: #0c97fac9;
    box-shadow: 1px 1px 15px #0c97fac9;
    margin: 15px;
    color: #e6e6e6;
    font-weight: 600;
    font-size: 17px;
    width: 250px;
    cursor: pointer;
    padding: 10px;
    border-radius: 11px;
    border: none;

}


.botoes-form button {
    background-color: #0c97fac9;
    box-shadow: 1px 1px 15px #0c97fac9;
    margin: 15px;
    color: #e6e6e6;
    font-weight: 600;
    font-size: 17px;
    width: 250px;
    cursor: pointer;
    padding: 10px;
    border-radius: 11px;
    border: none;

}


.botoes-form button:hover {
    box-shadow: 1px 1px 40px #0c97fac9;
    transition: .4s;
} 

.botoes-form input:hover {
    box-shadow: 1px 1px 40px #0c97fac9;
    transition: .4s;
} 

.send-footer {
    width: 100%;
    border-radius: 11px;
    height: 35px;
    margin: 10px;
}

@media only screen and (max-width: 600px) {

    .header {
        position: fixed;
        width: 100%;
        padding: 15px;
        display: grid;
        border-bottom: 2px solid #0c97fa96;

    }
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .header .port-nav {
        margin: auto;

        display: none;
    }

    .container-formulario {
        padding-left: 5px;
    }

    .coluna1 {
        gap: 30px;
        display: grid;
        grid-template-columns: 90%;
    }
    
    .coluna2 {
        gap: 30px;
        display: grid;
        grid-template-columns: 90%;
    }
    
    
    .coluna3 {
        gap: 30px;
        display: grid;
        grid-template-columns: 90%;
    }
    
    .coluna4 {
        gap: 30px;
        display: grid;
        grid-template-columns: 90%;
    }

    .dados-pessoais {
        width: 100%;
        padding-top: 100px;

    }

    .botoes-form {
        display: grid;
        padding-bottom: 90px;
    }

    h2 {
        margin-left: 20px;
    }

}

/*Personalizar todos os inputs*/

input[type="text"] {
    border: 1px solid #0c97fa96;
}


input[type="text"]:focus {
    box-shadow: 1px 1px 30px #0c97fa96;
    border-color: #0c97fa96;
    outline: none;
}

input[type="number"]:focus {
    box-shadow: 1px 1px 30px #0c97fa96;
    border-color: #0c97fa96;
    outline: none;
}

input[type="email"]:focus {
    box-shadow: 1px 1px 30px #0c97fa96;
    border-color: #0c97fa96;
    outline: none;
}


    

    