@charset "UTF-8";
@font-face {
    font-family: Mont;
    src: url(../font/Rethink_Sans/RethinkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: Fredoka;
    src: url(../font/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Anta;
    src: url(../font/Anta/Anta-Regular.ttf);
}


* {
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    font-family: Mont;
    color: #9ed1f3;
}


#corpo {
    background-color: #0C141A;
    overflow-x: none;
}


:root {
    --cor01:#60A4D1;
    --cor02:#4D84A8;
    --cor03:#71C0F5;
    --cor04:#3B647F;
    --cor05:#284457;
    --cor06:#ffffff;
    --cor07:#0C141A;
}

body {
    background-color: #01111E;
}


nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-right: 25px;
    padding: 14px;
    line-height: 50px;
    background-color: #01111ebb;
    /*background: linear-gradient(rgba(39,39,39, 0.6), transparent);*/
    z-index: 100;
    
}


.port-nav {
    color: #e6e6e6;
    background-color: #0c97fac9;
    box-shadow: 1px 1px 20px #0c97fac9;
    padding: 10px;
    border-radius: 10px;
}

.port-nav:hover {
    background-color: #0c97fac9;
    box-shadow: 1px 1px 50px #0c97fac9;
    color: #e6e6e6;
    transition: .4s;
}

nav a {
    margin: 15px;
    font-size: 17px;
    text-decoration: none;
}

nav p {
    font-family: Anta;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #0d98fc;
    text-shadow: 1px 1px 20px #0c97fac9;
}


nav p i {
    font-size: 35px;
    padding-left: 5px;
    color: #7CD260;
    text-shadow: 1px 1px 10px #7CD260;
}
.nav-logo p{
    color: #efefef;
    font-size: 25px;
    font-weight: 600;
}
.nav-menu-btn{
    display: none;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}

.nav-menu ul li a {
    color: #0D98FC;
}

.nav-menu ul li a:hover {
    color: #e6e6e6;
    transition-duration: .3s;
}

.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 650;
    color: #efefef;
    padding-bottom: 10px;
    margin: 0 25px;
    overflow: hidden;
}


#home {
    /*background-image: url(../img/banner-perfil02.jpg);*/
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.casa {
    padding-top: 80px;
    margin: auto;
    text-align: center;
    box-shadow: 1px 1px 40px #0c97fa63;
}

.casa i {
    color: #0c97fac9;
    font-size: 240px;
    margin-bottom: 20px;
    position: relative;
    animation: mymove 3s infinite;
    text-shadow: 1px 1px 20px #0c97fac9;
}
@keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 25px;}
    100% {top: 0px;}
}



.casa p.primeiro {
    font-size: 43px;
    font-family: Fredoka;
    color: #60A4D1;
    /*text-shadow: 0px 0px 3px #D946EF, 0 0 0px #D946EF, 0 0 10px #D946EF;*/
}

#home .dev {
    font-family: Fredoka;
}

.casa span {
    font-size: 45px;
    font-weight: 300;
    color: #0d98fc;
    gap: 30px;
}

.casa span .animate {
    width: 50%;
    font-size: 45px;
    font-family: Fredoka;
}

.casa p.segundo {
    line-height: 25px;
    color: #9ed1f3;
    padding-top: 20px;
    font-size: 17px;
    margin: auto;
    width: 400px;
}


.hora i {
    font-size: 32px;
    color: #e6e6e6;
}

.hora-botao {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 30px;
}

.hora-botao .hora {
    padding-bottom: 10px;
    margin: auto;
}



.hora-botao a   {
    text-decoration: none;
    margin: auto;
    background-color: #0c97fac9;
    box-shadow: 1px 1px 15px #0c97fac9;
    color: #e6e6e6;
    font-weight: 350;
    font-size: 17px;
    width: 250px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}


.casa a:hover {
    background-color: #0c97fac9;
    box-shadow: 1px 1px 30px #0c97fac9;
    transition: .3s;
}

.casa button:active {
    background: #C4008F;
}


/*Sobre------------------------*/


.sobre {
    display: grid;
    gap: 25px;
    justify-content: center;
}
.sobre h2 {
    padding-top: 150px;
    padding-bottom: 25px;
    font-weight: 300;
    font-size: 30px;
    color: #0d98fc;
    text-align: center;
}

.sobre h2 i {
    color: #0d98fc;
    padding-right: 7px;
}


.trilha {
    box-shadow: 1px 1px 10px #0c97fa96;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: auto;
    background-color: #11181d7c;
    width: 70%;
    padding: 7px;
    border: 2px solid #0c97fa96;
}

.trilha:hover {
    box-shadow: 1px 1px 35px #0c97fa96;
    transition-duration: .3s;
}

.trilha h3 {
    color: #0d98fc;
    border-radius: 15px 15px 0px 0px;
    padding: 10px 20px;
    background-color: #0E1820;
}

.trilha p {
    line-height: 25px;
    background-color: #11181d7c;
    padding: 20px;
}

.trilha button {
    background-color: #0E1820;
    border-radius: 0px 0px 15px 15px;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: #0d98fc;
    font-size: 15px;
}


.trilha button i {
    font-size: 20px;
    color: #7CD260;
}


/*Portofolio------------------------*/


#portofolio h2 {
    color: #0d98fc;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
}

#portofolio h2 i {
    padding-right: 7px;
    color: #0C96FA;
}

.portofolio-caixas {
    gap: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: 70%;

}

.container-portofolio {
    width: 100%;
    display: flex;
    border-radius: 20px;
    padding: 8px;
    border: 2px solid #0c97fa96;
    box-shadow: 1px 1px 10px #0c97fa96;

}

.container-portofolio:hover {
    box-shadow: 1px 1px 35px #0c97fa96;
    transition-duration: .3s;
}

.port-img  {
    border-radius: 15px 0px 0px 15px;
    width: 100%;
    height: 100%;
    background-image: url(../img/formulario-mobile.png);
    background-size: cover;
    background-color: #0E1820;
}

.port-content {
    border-radius: 0px 15px 15px 0px;
    width: 100%;
    background-color: #08131D;
    padding: 10px 10px 10px 25px;
}

.port-content p {
    line-height: 25px;
    padding: 10px 10px 10px 0px;
}

.port-content h3 {
    color: #0C96FA;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.port-content h3 i {
    color: #7CD260;
}

.port-content aside {
    display: flex;
    justify-content: space-between;
}

aside {
    display: flex;
    align-items: center;
    padding-top: 20px;
}



aside button {
    border: 2px solid #0c97fa96;
    border-radius: 13px;
    width: 50%;
    color: #e6e6e6;
    background-color: #0c97fa96;
    box-shadow: 1px 1px 15px #0c97fa96;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 11px;
}

aside button:hover {
    box-shadow: 1px 1px 30px #0c97fa96;
    transition-duration: .2s;
}

aside .data {
    color: #0C96FA;
}





/*Serviços--------------------*/

.services-title {
    text-align: center;
    padding-top: 250px;
    padding-bottom: 70px;
    font-weight: 300;
    font-size: 30px;
    color: #0d98fc;
}

.services-title i {
    padding-right: 7px;
    color: #0C96FA;
}

#serviços {

    display: grid;
    justify-content: center;
    grid-template-columns: 350px 350px 350px;
    gap: 30px;
    
}

.serv {
    width: 100%;
}

.serviços {
    box-shadow: 1px 1px 10px #0c97fa96;
    border: 2px solid #0c97fa96;
    border-radius: 30px;
    display: flex;
    background-color: #11181d7c;
    padding: 8px;
}

.serviços:hover {
    box-shadow: 1px 1px 35px #0c97fa96;
    transition-duration: .3s;
}

.serviços  .serv {
    width: 500px;
    border-radius: 20px;
    padding: 8px;
}

.serviços .serv h3 {
    background-color: #0c97fa96;
    box-shadow: 1px 1px 10px #0c97fa96;
    color: #e6e6e6;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    padding: 10px;
    border-radius: 15px;
}

#suporte {
    margin-left: 30px;
}

#suporte h4 {
    color: #0d98fc;
    font-size: 23px;
    padding-bottom: 15px
}

#suporte p {
    line-height: 30px;
    padding-bottom: 45px;
    color: #9ed1f3;
}

#suporte p span {
    color: #7CD260;
    margin-right: 5px;
}

#suporte p del {
    color: #9ed1f3;
}

.serviços  .serv .content-preço {
    padding: 30px 0px 20px 0px;
    text-align: center;
    font-size: 30px;
    color: #0d98fc;
}

.serviços  .serv .content-preço del {
    color: #0d98fc;
}

.serviços  .serv .content-img {
    text-align: center;
    padding-bottom: 30px;
}

.serviços  .serv button  {
    border: none;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
    border-radius: 11px;
    display: flex;
    align-items: center;  
    justify-content: center;
    font-size: 17px;
    background-color: #0c97fa96;
    box-shadow: 1px 1px 10px #0c97fa96;
    color: #e6e6e6;
    padding: 10px;
    
}

.serviços  .serv a {
    text-decoration: none;
}

.serviços  .serv button:hover {
    background-color: #0c97fa96;
    box-shadow: 1px 1px 30px #0c97fa96;
    transition-duration: .2s;
}

.content-img-dados img {
    width: 60px;
}


.contacto {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #60A4D1;
    padding-bottom: 100px;
}

.contacto a {
    text-decoration: none;
}

.contacto h1 {
    color: #60A4D1;
    padding-bottom: 15px;
}



.contacto h2 {
    padding-top: 150px;
    padding-bottom: 35px;
    font-weight: 300;
    font-size: 25px;
    color: #0d98fc;
}

.contacto h2 i {
    color: #0d98fc;
    padding-right: 7px;
}





.social a i:hover {
    color: #71C0F5;
}

.send-footer {
    border: 1px solid #0c97fa96;
    background-color: #0c141a7c;
    color: #e6e6e6;
    height: 30px;
    width: 500px;
    padding: 5px;
    font-size: 17px;
    border-radius: 8px;
    margin: 4px;
}

.send-footer:hover {
    box-shadow: 1px 1px 20px #0c97fa96;
    transition-duration: .2s;
}



.contacto .textarea {
    border: 1px solid #0c97fa96;
    background-color: #0c141a7c;
    color: #e6e6e6;
    height: 70px;
    width: 500px;
    padding: 5px;
    font-size: 17px;
    border-radius: 8px;
    margin: 4px;
    margin-bottom: 30px;
}

.contacto .textarea:hover {
    box-shadow: 1px 1px 20px #0c97fa96;
    transition-duration: .2s;
}




.send-botao {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #0c97fa96;
    box-shadow: 1px 1px 15px #0c97fa96;
    color: #e6e6e6;
    font-weight: 350;
    font-size: 17px;
    width: 250px;
    cursor: pointer;
    padding: 10px;
    border-radius: 11px;
}

.send-botao:hover {
    background-color: #0c97fa96;
    box-shadow: 1px 1px 30px #0c97fa96;
    transition: .4s;
}


.cadastrar {
    padding: 5px;
    color: #60A4D1;
    cursor: pointer;
}

.animacao {
    font-family: Fredoka;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    color: #0d98fc;
    gap: 30px;
    padding-bottom: 100px;
}



/* fim dos contactos------------------------------*/


/*rodape------------------------------------------*/

footer {
    box-shadow: 1px 1px 40px #0c97fa63;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer .pages {
    padding-top: 40px;
}

footer .pages menu h3 {
    font-weight: 300;
    font-size: 25px;
    color: #0d98fc;
    padding-bottom: 20px;
}

footer .pages menu h3 i {
    color: #0d98fc;
    padding-right: 5px;
    font-size: 30px;
}

footer .pages menu a {
    display: flex;
    width: 100%;
    text-decoration: none;
    margin-bottom: 10px;
    color: #8dd1ff;
}

footer .pages menu a i {
    padding-right: 8px;
    font-size: 20px;
    color: #7CD260;
}

footer .pages menu a:hover {
    color: #e6e6e6;
    padding: 2px;
    transition: .2s;
}

footer .content-number h3 {
    font-weight: 300;
    font-size: 25px;
    color: #0d98fc;
    padding-bottom: 10px;
}

footer .content-number h3 i {
    color: #0d98fc;
    padding-right: 5px;
    font-size: 30px;
}

footer .content-number p {
    line-height: 25px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-size: 17px;
    color: #8dd1ff;
}

footer .content-number {
    padding-top: 40px;
    padding-bottom: 35px;
}

footer .social h3 {
    font-weight: 300;
    font-size: 25px;
    color: #0d98fc;
    padding-bottom: 15px;
}

footer .social h3 i {
    color: #0d98fc;
    padding-right: 5px;
    font-size: 30px;
}

footer .social  {
    padding-top: 40px;

}

footer .social a {
    padding-bottom: 30px;
}


footer .social a i    {
    color: #0c97fa96;
    font-size: 25px;
    padding: 8px;
    border: 1px solid #0c97fa96;
    border-radius: 50%;
    margin: 5px;
}

footer .social a i:hover {
    color: #e6e6e6;
    background-color: #0c97fa96;
    box-shadow: 1px 1px 40px #0c97fa96;
    transition: .2s;
}
footer  button {
    background-color: #0c97fa96;
    box-shadow: 1px 1px 15px #0c97fa96;
    margin-top: 15px;
    color: #e6e6e6;
    font-weight: 350;
    font-size: 17px;
    width: 250px;
    cursor: pointer;
    padding: 11px;
    border-radius: 10px;
    border: none;
}

footer  button a {
    text-decoration: none;
    color: #e6e6e6;
}


footer  button:hover {
    background-color: #0c97fa96;
    box-shadow: 1px 1px 30px #0c97fa96;
    transition: .4s;
}

.final {
    text-align: center;
    padding: 20px;
    color: #60A4D1;
}

::-webkit-input-placeholder {
    margin-left: 3px;
    padding-left: 3px;
    color: #1c73b1a4;
}

/*Desabilitar kit de ferramentas do input*/

::-webkit-inner-spin-button { 
   display: none;
}

/*Personalizar todos os inputs*/

input[type="text"] {
    border: 1px solid #0c97fa96;
}


input[type="text"]:focus {
    box-shadow: 1px 1px 30px #0c97fa96;
    border-color: #0c97fa96;
    outline: none;
}

input[type="number"]:focus {
    box-shadow: 1px 1px 30px #0c97fa96;
    border-color: #0c97fa96;
    outline: none;
}

input[type="email"]:focus {
    box-shadow: 1px 1px 30px #0c97fa96;
    border-color: #0c97fa96;
    outline: none;
}

textarea:focus {
    outline: none;
    box-shadow: 1px 1px 30px #0c97fa96;
    border-color: #0c97fa96;
}