@charset "UTF-8";
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .apps__button {
        display: block;
    }

    .hora-botao {
        margin: auto;
        align-items: center;
        display: grid;
        position: relative;
        bottom: 80px;
    }

    .hora-botao a {
        width: 92%;
        margin-left: 1px;
    }

    .hora-botao .hora {
        padding-top: 25px;
        text-align: left;
        padding-left: 10px;
    }

    .casa {
        width: 100%;
        height: 117vh;
        /*background-image: url(../img/banner-perfil.jpg);
        background-size: cover;
        background-attachment: fixed;*/
        padding-top: 50px;
        display: block;
        padding-left: 9%;
        box-shadow: 1px 1px 40px #0c97fa63;
        
    }

    .casa-primeira {
        display: none;
    }

    .casa-segunda {
        position: relative;
        right: -0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .casa-segunda h2 {
        position: relative;
        left: -25px;
        display: block;
        text-align: center;
        font-weight: 100;
    }

    .home-email input {
        position: relative;
        width: 92%;
    }
    
    .home-email input#botao {
        width: 92%;
    }

    .casa-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .casa p.primeiro {   
        font-size: 35px;
        width: 365px;
        text-align: center;
        padding-bottom: 5px;
    }

    #home .dev {
        text-align: left;
        font-weight: 100;
        font-size: 38px;

    }    
    
    .casa span {
        width: 100%;
        font-size: 35px;
    }
    .casa span .animate {
        font-size: 35px;
    }

    .casa-segunda p.segundo {
        text-align: center;
        width: 88%;
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 17px;
    }

    .sobre {
        position: relative;
        top: -90px;
    }

    .sobre h2 {
        width: 100%;
        font-size: 25px;
    }

    .trilha {
        width: 90%;
    }

    #portofolio {
        position: relative;
        top: -130px;
    }


    .container-portofolio {
        display: grid;
        margin: auto;
        width: 90%;
        height: 100%;
    }

    .port-react {
        position: relative;
        top: -70px;
        left: -65px;
    }

    .portofolio-caixas {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }

    .port-content {
        width: 100%;
        padding: 15px 15px 15px 15px;
    }

    .port-img  {
        border-radius: 15px 15px 0px 0px;
        margin: auto;
        height: 20vh;
        width: 100%;
        
    }

    .port-img-crud {
        border-radius: 15px 15px 0px 0px;
        margin: auto;
        width: 100%;
        height: 25vh;
    }

    .port-img-gelado  {
        background-position: center center;
        border-radius: 15px 15px 0px 0px;
        margin: auto;
        height: 20vh;
        width: 100%;
        
    }

    .port-img-dashboard {
        background-position: center center;
        border-radius: 15px 15px 0px 0px;
        margin: auto;
        height: 20vh;
        width: 100%;
    }

    
    aside button  {
        padding-bottom: 10px;
        width: 50%;
    }


    .services-title {
        position: relative;
        top: -140px;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .content-img {
        width: 100%;
    }

    #suporte {
        margin-left: 20px;
    }

    #serviços {
        position: relative;
        top: -140px;
        grid-template-columns: 92%;
    }    

    .serviços {

        grid-template-columns: 87%;
    }

    .serviços {
        margin: auto;
        width: 96%;
    }

    .serviços a button {
        margin: auto;
        width: 90%;
    }

    nav p {
        text-shadow: 1px 1px 20px #0c97fac9;
        padding-right: 0px;
    }

    nav span {
        display: none;
    }

    .contacto {
        position: relative;
        top: -100px;
    }

    #contacto h2 {
        font-size: 25px;
    }

    .animacao {
        width: 80%;
        font-size: 28px;
        padding-left: 30px;
    }
    
    .send-footer {
        width: 350px;
    }

    .contacto .textarea {
        width: 350px;
    }

    footer {
        width: 100%;
        display: grid;
    }

    footer .social button {
        padding: 15px;
    }


    footer .social h3 {
        padding-bottom: 10px;
    }

    footer .content-number h3 {
        padding-bottom: 10px;
    }
    

    footer .pages menu h3 {
        padding-bottom: 20px;
    }

    footer .pages {
        padding-top: 0px;
    }   
}

@media only screen and (max-width: 360px) {
    .casa {
        height: 120vh;
        padding-left: 0px;
    }
    .home-email input {
        width: 92%;
    }
    
    .home-email input#botao {
        width: 92%;
    }

    .casa p.primeiro {   
        font-size: 32px;
        text-align: center;
        padding-bottom: 5px;
    }

    .casa-segunda p.segundo {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .header {
        padding: 15px;
    }

    .header .logo {
        font-size: 30px;
    }
    .header .social {
        display: none;
    }

    .navbar {
        background-color: #097BCB;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding-bottom: 20px;

        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        margin-left: 20px;
        padding: 5px;
        display: block;
        font-size: 20px;
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--text-color);
    }

    .navbar a.active {
        color: var(--main-color);
    }

    .navbar a::before {
        display: none;
    }

    .home {
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }


    .home .profession-container .overlay {
        position: fixed;
        top: 70rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-content h2 {
        text-align: center;
    }

    .about-img img {
        width: 70vw;
        margin-top: -2rem;
    }

    .testimonial-container .testimonial-wrapper {
        padding: 5rem 0;
    }

    .testimonial-content .testimonial-slide {
        padding: 3rem 2rem;
    }

    .testimonial-box .swiper-button-next,
    .testimonial-box .swiper-button-prev {
        display: none;
    }
}


