@charset "UTF-8";


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    header {
        position: absolute;
        width: 105%;
        background: #0B619F;
    }

    header .menu {
        padding: 17px;
    }

    header .menu .social  {
        display: none;
    }
    
    header .menu nav  {
        display: none;
    }

    .hora-botao {
        display: none;

    }

    .hora-botao a {
        margin-left: 6px;
    }

    #home {
        background-position: center left;
    }

    .hora-botao .hora {
        padding-top: 30px;
        text-align: left;
        padding-left: 10px;
        padding-bottom: 50px;
    }

    .casa {
        height: 100vh;
        /*background-image: url(../img/banner-perfil.jpg);
        background-size: cover;
        background-attachment: fixed;*/
        padding-top: 95px;
        display: block;
        align-items: center;
        padding-left: 28px;

        box-shadow: right 0 1px 40px #0c97fa63;
        
    }

    .casa-primeira {
        display: none;
    }

    .casa-primeira-01 {
        display: block;
    }

    .casa-segunda {
        position: relative;
        top: -75px;
        left: 5px;
    }

    #multipleStrings {
        width: 375px;
    }

    .casa-segunda h2 {
        display: block;
        text-align: left;
        font-weight: 100;
    }

    .home-email input {
        width: 82%;
    }
    
    .home-email button {
        width: 82%;
    }

    .casa-home {
        display: flex;
        flex-direction: column;

        text-align: left;
    }

    .casa p.primeiro {   
        font-size: 35px;
        text-align: left;
        padding-bottom: 5px;
    }

    #home .dev {
        text-align: left;
        font-weight: 100;
        font-size: 38px;

    }    
    
    .casa span {
        width: 100%;
        font-size: 35px;
    }
    .casa span .animate {
        font-size: 35px;
    }

    
    .casa p.segundo {
        text-align: left;
        width: 90%;
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 17px;
    }

    .sobre {
        position: relative;
        top: -100px;
    }

    .sobre h2 {
        width: 100%;
        font-size: 25px;
    }

    .trilha {
        width: 90%;
    }

    #portofolio {
        position: relative;
        top: -130px;
    }


    .container-portofolio {
        display: grid;
        margin: auto;
        width: 90%;
        height: 100%;
    }

    .port-react {
        position: relative;
        top: -70px;
        left: -65px;
    }

    .portofolio-caixas {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }

    .port-content {
        width: 100%;
        padding: 15px 15px 15px 15px;
    }



    .port-img  {
        border-radius: 15px 15px 0px 0px;
        margin: auto;
        height: 20vh;
        width: 100%;
        
    }

    .port-img-crud {
        border-radius: 15px 15px 0px 0px;
        margin: auto;
        width: 100%;
        height: 25vh;
    }

    
    aside button  {
        padding-bottom: 10px;
        width: 50%;
    }


    .services-title {
        position: relative;
        top: -140px;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .content-img {
        width: 100%;
    }

    #suporte {
        margin-left: 20px;
    }

    #serviços {
        position: relative;
        top: -140px;
        grid-template-columns: 92%;
    }    

    .serviços {

        grid-template-columns: 87%;
    }

    .serviços {
        margin: auto;
        width: 96%;
    }

    
    nav p {
        text-shadow: 1px 1px 20px #0c97fac9;
        padding-right: 0px;
    }

    nav span {
        display: none;
    }

    .contacto {
        position: relative;
        top: -100px;
    }



    #contacto h2 {
        font-size: 25px;
    }

    .animacao {
        width: 80%;
        font-size: 28px;
        padding-left: 30px;
    }
    
    .send-footer {
        width: 350px;
    }

    .contacto .textarea {
        width: 350px;
    }

    footer {/*
        background-image: url(../img/banner-perfil.jpg);
        background-attachment: fixed;*/
        width: 100%;
        display: grid;
    }

    footer .social button {
        padding: 15px;
    }


    footer .social h3 {
        padding-bottom: 10px;
    }

    footer .content-number h3 {
        padding-bottom: 10px;
    }
    

    footer .pages menu h3 {
        padding-bottom: 20px;
    }

    footer .pages {
        padding-top: 0px;
    }
    
        
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 360px) {

    .nav-menu{
        height: 42vh;
    }
    .casa p.segundo {
        width: 97%;
        font-size: 15px;
    }

    .casa {
        padding-left: 25px;
        height: 100vh;
        
    }

    .casa span .animate {
        font-size: 35px;
    }

    .sobre h2 {
        font-size: 20px;
    }

    .portofolio {
        width: 77%;
    }

    #serviços {
        width: 100%;
        grid-template-columns: 87%;
    }    

    .serviços {
        width: 100%;
        grid-template-columns: 87%;
    }

    #contacto h2 {
        font-size: 22px;
    }

    .send-footer {
        width: 295px;
    }

    .contacto .textarea {
        width: 295px;
    }

    .animacao {
        width: 88%;
        font-size: 23px;
        padding-left: 20px;
    }


    footer .content-number p {
        font-size: 15px;
    }





}

@media only screen and (max-width: 414px) {
    .nav-menu{
        height: 37vh;
    }
}

@media only screen and (max-width: 375px) {

    .nav-menu{
        height: 42vh;
    }

    .casa p.segundo {
        width: 97%;
        font-size: 15px;
    }

    .casa {
        padding-left: 20px;
        
    }

    .casa span .animate {
        font-size: 35px;
    }

    .sobre h2 {
        font-size: 20px;
    }

    .portofolio {
        width: 77%;
    }

    .serviços {
        margin: auto;
        width: 95%;
    }

    #contacto h2 {
        font-size: 22px;
    }

    .send-footer {
        width: 295px;
    }

    .contacto .textarea {
        width: 295px;
    }

    .animacao {
        width: 88%;
        font-size: 23px;
        padding-left: 20px;
    }

    footer .content-number p {
        font-size: 15px;
    }



}

@media only screen and (max-width: 1368px)  {

    footer {
        width: 100%;

    }
}


/* Medium devices (landscape tablets, 768px and up) */



/* Large devices (laptops/desktops, 992px and up) */


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
