@charset "UTF-8";


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .hora-botao {
        display: grid;
        padding-bottom: 25px;
    }

    .hora-botao a {
        margin-left: 6px;
    }

    #home {
        background-position: center left;
    }

    .hora-botao .hora {
        padding-top: 30px;
        text-align: left;
        padding-left: 10px;
    }

    header {
        width: 100%;
    }
    nav {
        width: 100%;
    }

    .nav-menu.responsive{
        top: 70px;
    }
    .nav-menu{
        position: absolute;
        top: -400px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 30vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu-btn{
        display: block;
        font-size: 30px;
    }
    .nav-menu-btn i{
        font-size: 25px;
        color: #0C95F8;
        

        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

    .casa {
        padding-top: 110px;
        text-align: left;
        padding-left: 28px;
        
    }
    .casa i {
        font-size: 200px;
        margin-bottom: 30px;

    }
    .casa p.primeiro {
        font-size: 35px;
        text-align: left;
        padding-bottom: 5px;
    }
    
    .casa span {
        width: 100%;
        font-size: 35px;
    }
    .casa span .animate {
        font-size: 35px;
    }

    
    .casa p.segundo {
        width: 98%;
        padding-top: 35px;
        padding-bottom: 15px;
        font-size: 17px;
    }

    .sobre h2 {
        width: 100%;
        padding-top: 50px;
        font-size: 25px;
    }

    .trilha {
        width: 85%;
    }

    .container-portofolio {
        display: grid;
        margin: auto;
        width: 85%;
        height: 100%;
    }

    .portofolio-caixas {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }

    .port-content {
        width: 91%;
        padding: 15px 15px 15px 15px;
    }



    .port-img  {
        margin: auto;
        height: 20vh;
        width: 100%;
        
    }

    
    aside button  {
        padding-bottom: 10px;
        width: 50%;
    }


    .services-title {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .content-img {
        width: 100%;
    }

    #suporte {
        margin-left: 20px;
    }

    #serviços {
        width: 100%;
        grid-template-columns: 87%;
    }    

    .serviços {
        width: 100%;
        grid-template-columns: 87%;
    }

    .serviços {
        margin: auto;
        width: 96%;
    }

    
    nav p {
        text-shadow: 1px 1px 20px #0c97fac9;
        padding-right: 50px;
    }

    nav span {
        display: none;
    }

    .contacto {
        padding-top: 50px;
    }


    .contacto {
        padding-bottom: 100px;
    }

    #contacto h2 {
        font-size: 25px;
    }

    .animacao {
        width: 80%;
        font-size: 28px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .send-footer {
        width: 350px;
    }

    .contacto .textarea {
        width: 350px;
    }

    footer {
        width: 100%;
        display: grid;
    }

    footer .social button {
        padding: 15px;
    }


    footer .social h3 {
        padding-bottom: 10px;
    }

    footer .content-number h3 {
        padding-bottom: 10px;
    }
    

    footer .pages menu h3 {
        padding-bottom: 20px;
    }

    footer .pages {
        padding-top: 0px;
    }
    
        
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 360px) {

    .nav-menu{
        height: 42vh;
    }
    .casa p.segundo {
        width: 97%;
        font-size: 15px;
    }

    .casa {
        padding-left: 25px;
        
    }

    .casa span .animate {
        font-size: 35px;
    }

    .sobre h2 {
        font-size: 20px;
    }

    .portofolio {
        width: 77%;
    }

    #serviços {
        width: 100%;
        grid-template-columns: 87%;
    }    

    .serviços {
        width: 100%;
        grid-template-columns: 87%;
    }

    #contacto h2 {
        font-size: 22px;
    }

    .send-footer {
        width: 295px;
    }

    .contacto .textarea {
        width: 295px;
    }

    .animacao {
        width: 88%;
        font-size: 23px;
        padding-left: 20px;
        padding-right: 20px;
    }


    footer .content-number p {
        font-size: 15px;
    }





}

@media only screen and (max-width: 414px) {
    .nav-menu{
        height: 37vh;
    }
}

@media only screen and (max-width: 375px) {

    .nav-menu{
        height: 42vh;
    }

    .casa p.segundo {
        width: 97%;
        font-size: 15px;
    }

    .casa {
        padding-left: 20px;
        
    }

    .casa span .animate {
        font-size: 35px;
    }

    .sobre h2 {
        font-size: 20px;
    }

    .portofolio {
        width: 77%;
    }

    .serviços {
        margin: auto;
        width: 95%;
    }

    #contacto h2 {
        font-size: 22px;
    }

    .send-footer {
        width: 295px;
    }

    .contacto .textarea {
        width: 295px;
    }

    .animacao {
        width: 88%;
        font-size: 23px;
        padding-left: 20px;
        padding-right: 20px;
    }

    footer .content-number p {
        font-size: 15px;
    }



}


/* Medium devices (landscape tablets, 768px and up) */



/* Large devices (laptops/desktops, 992px and up) */


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
